*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.project
.settings/org.eclipse.buildship.core.prefs
app/.classpath
app/.project
app/.settings/org.eclipse.buildship.core.prefs
.idea/gradle.xml
.idea/misc.xml
.idea/gradle.xml
.idea/misc.xml
